node_modules/
dist/
build/
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

npm-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
